@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
       box-sizing: border-box;
}

/* chrome and chromium based */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}